40 6 * * 1-5 python /root/scripts/delete_recentlypost_in_slack.py; python /root/scripts/delete_recentlypost_in_slack.py
45 6 * * 1-5 sleep 30; echo 'y' | ffmpeg -i https://nhkradioakr2-i.akamaihd.net/hls/live/511929/1-r2/1-r2-01.m3u8 -t 900 -movflags faststart -c copy -bsf:a aac_adtstoasc /root/databank/radio_english_r2.m4a > /root/databank/log 2>&1
5 7 * * 1-5 cp /root/databank/radio_english_r2.m4a /root/databank/$(echo radio_english_$(date "+%Y-%m-%d")).m4a
7 7 * * 1-5 python /root/scripts/upload_slack.py /root/databank/radio_english_r2.m4a
